* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Root */
:root{
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

body {
  font: 400 1rem var(--body-font);
  background: rgb(255, 255, 255);

  text-align: center;
}

img{
  display: block;
  margin: 5px auto;
  max-width: 100%;
}

header{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
main{ 
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.notice-principal{
  /* fazer menor */
  
}

div.principal h1.title{
  font-family: var(--title-font);
  justify-content: left;
  margin-top: 1.5rem;
}

div.principal p.sub-title{
  font-size: 1.5rem;
  font-family:'DM Sans', sans-serif;
  opacity: 0.8;
}

.report{
  display: flex;
  align-items: center;
  justify-content: space-between;
}